<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
    	<typeAlias alias="user" type="com.meet.together.houser.dto.UserInfo"/>
    	<typeAlias alias="listInfo" type="com.meet.together.holist.dto.ListInfo"/>
    	<typeAlias alias="place" type="com.meet.together.holist.dto.Place"/>
    	<typeAlias alias="category" type="com.meet.together.holist.dto.CategoryInfo"/>
    	<typeAlias alias="takeuser" type="com.meet.together.holist.dto.TakeUserInfo"/>
	</typeAliases>
	<mappers>
		<mapper resource="sql/user_sql.xml" />
		<mapper resource="sql/list_sql.xml" />
		<mapper resource="sql/place_sql.xml" />
		<mapper resource="sql/category_sql.xml" />
		<mapper resource="sql/takeuser_sql.xml" />
	</mappers>
</configuration>

