<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
    	<typeAlias alias="user" type="com.meet.together.user.dto.UserInfo"/>
    	<typeAlias alias="listInfo" type="com.meet.together.list.dto.ListInfo"/>
    	<typeAlias alias="place" type="com.meet.together.list.dto.Place"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/meet/together/user/sql/user_sql.xml" />
		<mapper resource="com/meet/together/list/sql/list_sql.xml" />
		<mapper resource="com/meet/together/list/sql/place_sql.xml" />
	</mappers>
</configuration>

